@model ThemeParkManagementSystem.Models.INVENTORY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INVENTORY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            Product Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            Product Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt>
            Product Stock
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductStock)
        </dd>
        <dt>
            Shop Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SHOP.ShopName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
