@model ThemeParkManagementSystem.Models.ShopIndexData

@{
    ViewBag.Title = "Index";
}

<h2>Shops</h2>

<p>
    @if (Convert.ToBoolean(ViewData["userRole"]))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<p>
    @using (Html.BeginForm("Index", "Shops", FormMethod.Get))
    {
        <text> Search By: </text> @Html.RadioButton("searchBy", "Name") <text> Shop Name </text>
        @Html.TextBox("search")<input type="submit" value="Search" />

    }
</p>
<table class="table">
    <tr>
        <th>
            Shop Name
        </th>
        <th>
            Shop Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Shops)
    {
        string selectedRow = "";
        if (item.ShopID == ViewBag.ShopID)
        {
            selectedRow = "selectedrow";
        }
        <tr class="@selectedRow" valign="top">
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopType)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ShopID }) |
                @if (Convert.ToBoolean(ViewData["userRole"]))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShopID })<text> |</text>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ShopID })
                @if (Convert.ToBoolean(ViewData["userRole"]))
                {
                    <text> | </text>@Html.ActionLink("Delete", "Delete", new { id = item.ShopID })
                }
            </td>
        </tr>
    }
</table>
@if (Model.Inventory != null)
{
    <h3>Products in shop</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        @foreach (var item in Model.Inventory)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductPrice
                </td>
                <td>
                    @item.ProductStock
                </td>
            </tr>
        }
    </table>
}
<p>
    @Html.ActionLink("Access Inventory Page", "Index", "Inventory")
</p>
<p>
    @Html.ActionLink("Access Shop Types Page", "Index", "ShopLookup")
</p>