@model ThemeParkManagementSystem.Models.RIDES_STAFF

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RIDES_STAFF</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RIDE.RideID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RIDE.RideID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RIDE.RideName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RIDE.RideName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.STAFF.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAFF.EmployeeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.STAFF.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAFF.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.STAFF.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAFF.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
