@model IEnumerable<ThemeParkManagementSystem.Models.RIDES_STAFF>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ride Name
        </th>
        <th>
            First Name
        </th>
        <th>
            End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RIDE.RideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAFF.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StartDate }) |
            @Html.ActionLink("Details", "Details", new { id = item.StartDate}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.StartDate })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Staff Page", "Index", "Staff")
</p>
