@model IEnumerable<ThemeParkManagementSystem.Models.RIDE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RidePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOutside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RainOutCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOpen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RidePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOutside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RainOutCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOpen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RideID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RideID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RideID })
        </td>
    </tr>
}

</table>
