@model IEnumerable<ThemeParkManagementSystem.Models.SHOPLOOKUP>
@{
    ViewBag.Title = "Index";
}
<h2>Shop Types</h2>
<p>
    @if (Convert.ToBoolean(ViewData["userRole"]))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Shop Type
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopType)
            </td>
            <td>
                @if (Convert.ToBoolean(ViewData["userRole"]))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })<text> |</text>
            }
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @if (Convert.ToBoolean(ViewData["userRole"]))
            {
                <text> | </text>@Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Back to Shops Page", "Index", "Shops")
</p>